.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .cart h1 {
    color: rgba(64, 182, 109, 0.651);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .cartItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .cartTotal {
    color: rgba(29, 122, 65, 0.651);
    background-color: white;
    font-size: 20px;
    font-weight: bold;
  }

