.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .search-box input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .search-box button {
    background-color: rgba(64, 182, 109, 0.651);
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-box button:hover {
    background-color: rgba(64, 182, 109, 0.8);
  }
  
  .search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    width: 90%;
    max-width: 1200px;
  }