.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .shopTitle {
    font-size: 1.5rem;
    margin: 2rem 0;
    color: rgba(64, 182, 109, 0.651);
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    width: 90%;
    max-width: 1200px;
  }
  
  @media screen and (max-width: 768px) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

 a:link {
    text-decoration: none;
  }